
# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a
*.lib

# Executables
empire
*Test
*.exe
*.out
*.app

# Directories
doxygen/generated_docs/*

# Logfiles
empire.log

# Apple Filesystem files
.DS_Store
