# Empire Configuration File:

### Server configuration and information

# Custom configuration table files, separated by space
custom_tables ""

# Directory where this game's data is stored
data "/usr/local/var/empire"

# Directory where info pages are stored, can be shared among games
info "/usr/local/share/empire/info.nr"
# Set this to your build tree's info.nr to run the server without
# installing it.

# Directory where builtin files are stored
builtin "/usr/local/share/empire/builtin"
# Set this to your source tree's src/lib/global to run the server
# without installing it, else leave it alone.

# Local IP address the server should listen on
listen_addr ""
# "" listens on all, localhost just on the loopback interface.
# OpenBSD restriction: when the system has both IPv4 and IPv6
# addresses configured, "" listens on all IPv4 addresses, and "::"
# on all IPv6 addresses.  There is no way to listen both on all IPv4
# and on all IPv6 interfaces.
# Systems using GNU libc such as Linux are frequently configured in a
# way that makes listen_addr  listen only on all IPv4 addresses.
# You need to use "::" to listen on all IPv4 and IPv6 addresses.

# TCP port the server will bind
port "6665"

# Enable journal log file
keep_journal 0
# 0 - Disabled
# 1 - Enabled, player output suppressed
# 2 - Enabled, log everything (big; rotating & compressing advised)

# Shell command run right after a crash dump, in the game's data directory
post_crash_dump_hook ""

# Name of the deity
privname "Deity forgot to edit econfig"

# E-mail of the deity
privlog "careless@invalid"

# Deities may connect from these IPs or networks, "" allows all
privip "127.0.0.1 ::1"

# World size X dimension, must be even
WORLD_X 64

# World size Y dimension, must be even
WORLD_Y 32


### Update policy

# Note: the update schedule is defined in the file schedule in the
# same directory as this file.

# Number of ETUs per update
etu_per_update 60

# Time window the update will occur in after the update time, in seconds
update_window 0

# Shell command run right before the update, in the game's data directory
pre_update_hook ""

# Demand update policy
update_demand 0
# 0 - No demand updates
# 1 - Scheduled updates are demand updates
# 2 - Demand updates run right after the deciding vote is cast,
#     in addition to (non-demand) scheduled updates

# Number of votes required for a demand update
update_wantmin 1

# Times when unscheduled demand updates can occur, separated by space
update_demandtimes ""
# Give time ranges as HOUR:MINUTE-HOUR:MINUTE, e.g. 20:00-24:00.
# Ranges CANNOT cross midnight.


### Game hours restrictions

# Days of week the game is up and running, separated by space
game_days ""
# Give days as Su Mo Tu We Th Fr Sa.

# Time of day ranges when the game is open, separated by space
game_hours ""
# Give time ranges as HOUR:MINUTE-HOUR:MINUTE, e.g. 20:00-24:00.
# Ranges CANNOT cross midnight.


### Options

# Let tech bleed to everyone, not just allies
ALL_BLEED 1

# Power report is updated only automatically, at the update
AUTO_POWER 0

# Enable blitz mode
BLITZ 1

# Allow bridge towers
BRIDGETOWERS 0
# If you enable this, make sure that bridge spans can produce
# sufficient avail.  Depending on your etu_per_update, you may have
# to tweak buil_tower_bh, rollover_avail_max, or bridge span's maxpop.

# Allow bridge building without bridge heads
EASY_BRIDGES 1

# Enable secondary effects caused by radiation
FALLOUT 1

# Inform the world when deities give/take away
GODNEWS 1

# Make gold and oil renewable resources
GO_RENEW 0

# Enable experimental stuff not ready for prime time
GUINEA_PIGS 0

# Hide information between players
HIDDEN 0

# Interdict post-attack move in
INTERDICT_ATT 1

# Allow bailing out of other countries via S&L scandals
LOANS 0

# Let contact be lost after a few updates
LOSE_CONTACT 0

# Enable time-based market and trading
MARKET 0

# Update mobility in real-time rather than at the update
MOB_ACCESS 0

# Disable food consumption
NOFOOD 1

# Don't charge mobility for firing from ships
NOMOBCOST 1

# Disable fortress fire
NO_FORT_FIRE 0

# Disable plague
NO_PLAGUE 1

# Highways double as rail
RAILWAYS 1

# Population is limited by research
RES_POP 0

# Make bars immune to damage
SUPER_BARS 0

# Technology costs more as population rises
TECH_POP 0


### Countries

# Rate at which BTUs accumulate (etu * civ * eff * btu_build_rate)
btu_build_rate 0.0012

# Maximum minutes per day a country is allowed to be logged in
m_m_p_d 1440

# Maximum number of BTUs a country can have
max_btus 640

# Maximum number of minutes a player can sit idle while logged in
max_idle 15

# Maximum number of minutes a visitor can sit idle while logged in
max_idle_visitor 5

# Grace time for clients to complete login and logout (seconds)
login_grace_time 120

# Players have their coordinate system at deity 0,0 (0 - no, 1 - yes)
players_at_00 0

# Initialize new countries with at least one sector with 100 of all resource
at_least_one_100 1

# Starting cash for new countries
start_cash 25000


### Technology/Research/Education/Happiness

# Amount of tech built with no penalty
easy_tech 1

# Starting technology for new countries
start_tech 0

# Starting happiness for new countries
start_happy 0

# Starting research for new countries
start_research 0

# Starting education for new countries
start_edu 0

# ETU rate at which tech decays (0 -> no decline)
level_age_rate 96

# Log base to apply to tech breakthroughs above the easy tech level
tech_log_base 2

# Shared tech with allies (1 / ally_factor)
ally_factor 2

# Number of ETUs education is averaged over
edu_avg 192

# Number of ETUs happiness is averaged over
hap_avg 48

# Education consumption (1 breakthrough per edu_cons)
edu_cons 600000

# Happiness consumption (1 breakthrough per hap_cons)
hap_cons 600000


### Sectors

# Starting mobility for sanctuaries
startmob 127

# Sector mobility accumulation per ETU
sect_mob_scale 1

# Maximum mobility for sectors
sect_mob_max 127

# Number of hcms required to build a bridge span
buil_bh 100

# Cash required to build a bridge span
buil_bc 1000

# Technology required to build a bridge span
buil_bt 10

# Number of hcms required to build a bridge tower
buil_tower_bh 300

# Cash required to build a bridge tower
buil_tower_bc 3000

# Technology required to build a bridge tower
buil_tower_bt 100


### Land Units

# Land unit mobility accumulation per ETU
land_mob_scale 1

# How fast efficiency grows for land units, per ETU
land_grow_scale 2

# Maximum mobility for land units
land_mob_max 127

# Cost per ETU to maintain land units (fraction of unit price)
money_land -0.001

# Base level for setting morale of land units
morale_base 42


### Planes

# Plane mobility accumulation per ETU
plane_mob_scale 1

# How fast efficiency grows for planes each update, per ETU
plane_grow_scale 2

# Maximum mobility for planes
plane_mob_max 127

# Cost per ETU to maintain planes (fraction of plane price)
money_plane -0.001


### Ships

# Ship mobility accumulation per ETU
ship_mob_scale 1.5

# How fast efficiency grows for ships each update, per ETU
ship_grow_scale 3

# Maximum mobility for ships
ship_mob_max 127

# Cost per ETU to maintain ships (fraction of ship price)
money_ship -0.001

# Torpedo damage (damage is X + 1dX + 1dX)
torpedo_damage 40


### Combat/Damage

# Maximum range (in sectors) a fort will try to interdict another country
fort_max_interdiction_range 8

# Maximum range (in sectors) a land unit will try to interdict another country
land_max_interdiction_range 8

# Maximum range (in sectors) a ship will try to interdict another country
ship_max_interdiction_range 8

# Scale factor for flak damage
flakscale 1.75

# How much mobility do units spend for combat (* casualties/bodies)
combat_mob 5

# People take this amount of normal damage
people_damage 1

# Land units take this amount of normal damage
unit_damage 0.3

# Side effect damage amount done to sector
collateral_dam 0.1

# Land unit strength multiplier for assaulting and boarding
assault_penalty 0.5

# Scale normal firing ranges by this amount
fire_range_factor 1

# Initial mobility for MOB_ACCESS (-etu_per_update / sect_mob_neg_factor)
sect_mob_neg_factor 2
# Applies to sector takeover, ship build, plane or land unit build, and trade.


### Populace

# Birth rate for uncompensated workers
uwbrate 0.0025

# Money gained from taxes on a civilian in one ETU
money_civ 0.0083333

# Money gained from taxes on an active soldier in one ETU
money_mil -0.0833333

# Money gained from taxes on a soldier on active reserve in one ETU
money_res -0.0083333

# Money gained from taxes on an uncompensated worker in one ETU
money_uw 0.0017777

# Amount of food to mature 1 baby into a civilian
babyeat 0.006

# Bank dollar gain (per bar per ETU)
bankint 0.25

# Food eating rate for mature people
eatrate 0.0005

# Food cultivation rate (* workforce in sector)
fcrate 0.0013

# Food growth rate (* fertility of sector)
fgrate 0.0012

# Civilian birth rate
obrate 0.005

# Maximum avail that can roll over an update
rollover_avail_max 50


### Nukes

# Decay of fallout per ETU
decay_per_etu 0.006

# Amount of fallout that leaks into surrounding sectors
fallout_spread 0.005

# Research needed to build a nuke, as fraction of the tech needed
drnuke_const 0
# A common value is 0.33.


### Market/Trade

# Time commodities stay on the market for bidding (seconds)
MARK_DELAY 7200

# Time ships, planes, lands and nukes stay on the market for bidding (seconds)
TRADE_DELAY 7200

# Multiple of the bid charged to the buyer on market purchases
buytax 1

# Amount of a trade transaction the seller makes (the rest is tax)
tradetax 0.99


### Trade ships

# Less than this distance gets no money for cashing in
trade_1_dist 8

# Less than this distance gets trade_1 money for cashing in
trade_2_dist 14

# Less than this distance gets trade_2 money for cashing in, more gets trade_3
trade_3_dist 25

# Return per sector on trade_1 distance amount
trade_1 0.025

# Return per sector on trade_2 distance amount
trade_2 0.035

# Return per sector on trade_3 distance amount
trade_3 0.05

# Bonus you get for cashing in with an ally
trade_ally_bonus 0.2

# Bonus your ally gets for you cashing in with them
trade_ally_cut 0.1


### Miscellaneous

# Disabled commands, separated by space
disabled_commands ""

# How long until announcements expire (<0 means never)
anno_keep_days 7

# How long until news expire
news_keep_days 10

# How long until lost items expire
lost_keep_hours 48

# Are we running the test suite?  Must be 0 for games!
running_test_suite 0
